[Desktop Entry]
Type=Application
Version=1.0
Name=Simple Comics Viewer
Icon=icon
Terminal=false
Categories=Graphics;
Exec=simple_comics_viewer
X-AppImage-Version=f155627
